@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{

background-color:var(--main-bg-color) ;
}
button{
    cursor: pointer;
    transition: all 0.5s;
    -webkit-tap-highlight-color:transparent
}