body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar{
  width: 12px;

}
::-webkit-scrollbar-track{
  border-radius: 100vh;
  background: #1f2937;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(rgb(255, 196, 85),var(--main-orange-color));
}

:root{
  --darker-bg-color:#171d24;
  --main-bg-color:#16202A;
  --sec-bg-color:rgba(255, 255, 255, 0.1);
  --thrd-bg-color:#212a33;
  --text-unfocused-color:rgb(187, 185, 185);
  --text-focused-color:white;
  --main-orange-color:#db6c3c;
}

