@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#timeline {
  overflow: hidden;
  border-radius: 15px;
  row-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  height: 100%;
  height: auto;
  display: flex;
  grid-row: 2/3;
  align-content: center;
  width: 100%;
  flex-wrap: wrap;
  grid-row: 1/2;
  &:hover {
    .tl-item {
      width: 23.3333%;
    }
  }
}

.tl-item {
  
  min-height: 70vh;
  cursor: default;
  background-color: var(--thrd-bg-color);
  position: relative;
  flex-basis: 24%;

  color: #fff;
  overflow: hidden;
  transition: width 0.5s ease;

  &:before{

    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      transparent 0,
      var(--main-bg-color) 90%
    );
    z-index: 1;
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
  
  }

  &:hover {

    &:before {
      opacity: 1;
      transform: translateY(0);
      transition: opacity 1s ease, transform 1s ease 0.25s;
    }

    .tl-content {
      opacity: 1;
      transform: translateY(-30%);
      transition: all 0.75s ease 0.5s;
    }
    .tl-year {
      top: 30%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }

  }
}

.tl-content {
  transform: translateY(10%);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;

  h1 {
    text-transform: uppercase;
    color: var(--main-orange-color);
    font-size: 1.44rem;
    font-weight: normal;
  }
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: top 1s ease;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;

  p {
    font-size: 1.3em;
  }
}
.about {
  a {
    height: 20vh;
    grid-row: 2/3;
    grid-column: 1/5;
    text-decoration: none;
    .cvDownload {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: var(--thrd-bg-color);
      padding: 3% 6%;
      cursor: pointer;
      background: linear-gradient(to left, #ca7034, #ee7752);
      background-size: 400%;
      color: white;
      animation: gradient 5s ease infinite;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
        0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07);
      border-radius: 15px;
      span {
        font-weight: bold;

        font-size: 2em;
      }
    }
  }
}
@media screen and(max-width:900px) {
  #timeline{
    .tl-item {
      min-height: 65vh;
      flex-basis: 48%;

    }
  }

}
@media screen and(max-width:768px) {

  .about {
    a {
      height: 10%;
      width: 100%;
      .cvDownload {
        span {
          font-size: 1em;
        }
      }
    }
  }
}
@media screen  and(max-width:500px){
  
  #timeline{
    .tl-item{
      flex-basis: 100%;

    }
  }
}