.hola{
    height: 100%;
    grid-row: 2/3;
    grid-column: 1/5;
    width: 100%;
    background-color: var(--thrd-bg-color);
    padding: 3% 6%;
    cursor: pointer;
    display: flex;
    background: linear-gradient(to left,#ca7034, #ee7752);
	animation: gradient 5s ease infinite;
    justify-content: space-between;
    background-size: 400%;
    color: white;
    
}


@keyframes gradient {
	
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.hola,.cardWrapper{
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07);
    border-radius: 15px;

}
.hola h1{
    font-size: 30px;
}
.cardWrapper{
    grid-row: 1/2;
    color: white;
    transform: translate3d(0, 0, 0);
    width: 100%;
    overflow: hidden;
    transition: width 0.5s ease;
    background-color: var(--thrd-bg-color);
    height: 100%;
    cursor: default;
}
@media screen and(max-width:768px) {
    .cardWrapper{
     grid-row: 1/3;
     grid-column: 1/3;
 
    } 
 }
.cardWrapper:hover::before{opacity: 1;}
.cardWrapper::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.cardWrapper::before{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, var(--main-bg-color)90%);
    opacity: 0;
    transform: translateY(50%);
    transition: opacity 0.5s ease, transform 0.5s ease;
}
.cardWrapper:hover::before {
    opacity: 1;
    transform:translateY(0);
    transition: opacity 1s ease, transform 1s ease 0.25s;
}
.cardWrapper:hover .info{
    transform: translateY(-20%);
    transition: all 1s 0.5s;
    opacity: 1;
}
.info{
    display: flex;
    flex-direction: column;
    row-gap: 3%;
    transform:translateY(-50px);
    position: relative;
    z-index: 1; 
    margin: 0 1.618em;
    top: 50%;
    opacity: 0;
    color: white;
    height: 100%;
    padding: 10%;
}
.info h1{font-size: 28px;color: #ee7752;;}
.info p{font-weight: 300;}
.info p,.info h1{text-align: center;}

.year{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    color: white;
    transition: all 1s;
}
.cardWrapper:hover .year{
    left: 15%;
    top: 10%;
    transform: translate(-15%,-10%);
}
.cardWrapper:hover .year::before{
   opacity: 0;
}
.cardWrapper:hover .year::after{
    opacity: 0;
 }
.year::before,.year::after{

    display: inline-block;
    content: '';
    position: absolute;
    width: 20%;
    height: 5px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s opacity;
}
.year::before{

    left: -30%;
    top: 120%;
}
.year::after{

    right: -30%;
    top: -20%;
}