@keyframes upDown {
	0% {
		transform: translateY(13px);
	}
	50% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(13px);
	}
}
@keyframes arrowAni {
	to {
		filter: drop-shadow(0px 0px 10px #db6c3c);
	}
}
.wrapper {
	background-color: var(--main-bg-color);
	height: 80vh;
	display: flex;
	justify-content: center;
}
.heroWrapper {
	height: 75%;
	width: 80%;
	display: grid;
	grid-template-rows: 50% 40% 10%;
	grid-template-columns: 60% 40%;
	margin-top: 90px;
	row-gap: 12px;
	margin: 40px auto 40px auto;
	align-items: center;
	justify-content: center;
	h1 {
		height: auto;
		color: rgb(187, 185, 185);
		grid-column: 1/1;
		grid-row: 1/1;
		font-size: 90px;
		&::before {
			background-color: #db6c3c;
			display: block;
			content: '';
			position: relative;
			width: 50px;
			height: 20px;
			top: 0;
			left: -40px;
		}
	}
	h2 {
		height: auto;
		grid-column: 1/1;
		grid-row: 2/2;
		font-size: 25px;
		font-weight: 300;
		color: rgb(187, 185, 185);
	}
	button {
		height: auto;
		grid-column: 1/1;
		grid-row: 3/3;
		height: 50px;
		width: 200px;
		border-style: none;
		border-radius: 28px;
		cursor: pointer;
		background-color: #db6c3c;
		color: white;
		transition: all 0.5s;
		font-size: 15px;
		&:hover {
			background-color: rgb(216, 143, 59);
			color: rgb(255, 255, 255);
			width: 220px;
			box-shadow: 0 0 25px #db6c3c;
		}
	}
}
.heroImage {
	grid-row: 1/4;
	grid-column: 2/3;
	width: 100%;
	opacity: 0.7;
	animation: upDown 3s linear infinite;
}
.arrow {
	position: absolute;
	top: 95%;
	left: 50%;
	transform: translate(-50%,-95%);
	animation: arrowAni 1s infinite alternate-reverse;
	cursor: pointer;
}
@media screen and (max-width:720px) {
	.heroWrapper {
		height: 100vh;
		grid-template-rows: 50% 50%;
		grid-template-columns: 100%;
	}
}
