.HOLA{
    color: red;
    animation: animacion 1s infinite alternate backwards;
}
@keyframes animacion {
    from {
        box-shadow: none;
    }
    to {
        
        box-shadow: 0 0 50px #db3cb3;
       
    }
  }