.langWrapper {
        
 
  button {
    border: none;
    background-color: transparent;
    color: black;
        svg{
                margin: 10px;
                height: 25px;
                width: 25px;
        }
 
  }
}
