.langWrapper {
        
 
  button {
    border: none;
    background-color: transparent;
    color: black;
        svg{
                margin: 10px;
                height: 30px;
                width: 30px;
        }
 
  }
}
@media screen and(max-width:768px) {
  .langWrapper {
    right: 20px;
    bottom: 20px;
  }
}
