nav {
    background-color: #16202A;
    width: 100%;
}
nav .content{
    display: flex;
    width: 90%;
    margin: auto;
    height: 20vh;
    justify-content: space-around;
    align-items: center;
}
.content ul{

    list-style: none;
    display: flex;
    column-gap: 7vw;
}
.content ul li
{
    font-size: 1.1em;
}
.content a{
    text-decoration: none;
    color: rgb(161, 161, 161);
    transition: all 1s;
}
.content a:hover{

    color: white;

}
.navContact svg{
    cursor: pointer;
    margin: 10px;
    transition: all 1s;

}
.navContact svg:hover{

    fill: white;
}