nav{
    display: flex;
    background-color: #16202A;
   width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
}
nav ul{

    list-style: none;
    display: flex;
    column-gap: 7vw;
}
nav ul li
{
    font-size: 1.1em;
}
nav a{
    text-decoration: none;
    color: rgb(161, 161, 161);
    transition: all 1s;
}
nav a:hover{

    color: white;

}