@keyframes animacion {
	to {
		width: 30px;
		box-shadow: 0 0 25px #db6c3c;
	}
}
.sectionWrapper {
	grid-auto-rows: max-content;
	min-height: 100vh;
	background-color: var(--main-bg-color);
	width: 100%;
	display: flex;
    height: max-content;
}
.contentWrapper {
		display: flex;
		width: 100%;
		flex-direction: column;
		height: 100%;
		align-items: center;
		margin: 40px 0;
	.titulo {
		line-height : 100%;
		grid-row: 1/2;
		text-align: center;
		color: rgb(187, 185, 185);
		height: 15vh;
		&::before {
			background-color: #db6c3c;
			display: inline-block;
			content: '';
			position: relative;
			width: 20px;
			height: 5px;
			animation: animacion 1s infinite alternate backwards;
			top: 1.2em;
			left: 0;
		}
		&::after {
			background-color: #db6c3c;
			display: inline-block;
			content: '';
			position: relative;
			width: 20px;
			height: 5px;
			animation: animacion 1s infinite alternate backwards;
			top: -1.2em;
			right: 0;
		}
	}
}
/* DOS OPCIONES DE SECTION */
.content {
	row-gap: 10px;
	column-gap: 10px;
	justify-content: center;
	height: 100%;
	height: auto;
	display: flex;
	grid-row: 2/3;
	align-content: center;
	width: 70%;
	flex-wrap: wrap;
}
.aboutCards {
	row-gap: 10px;
	column-gap: 10px;
	width: 65%;
	justify-content: center;
	height: 80vh;
	display: grid;
	grid-template-rows: 80% 20%;
	grid-template-columns: repeat(4,25%);
}
.projectCards{
    grid-row-gap: 10px;
    row-gap: 10px;
    grid-column-gap: 10px;
    row-gap: 5vh;
    width: 65%;
    justify-content: center;
	max-height: 80%;
    height: auto;
    display: flex;
	flex-direction: column;
}
@media screen and(max-width:900px) {
	
	.content{
		width: 90%;
	}
}
@media screen and(max-width:768px){
	
	.content{
		display: flex;
		flex: 1 1 auto;
		flex-wrap: wrap;
	}
	.projectCards{
		width: 90%;
	}
	.aboutCards{
		align-content: center;
		gap: 1%;
		-webkit-user-select: none;
		width: 90%;
		height: 110vh;
		display: flex;
		flex-direction: row;
		flex: 1 1 auto;
		flex-wrap: wrap;
	}
}
