.sectionWrapper{
    height: 100vh;
    background-color: var(--main-bg-color);
    width: 100%;
    display: grid;
}
.contentWrapper{
    display: grid;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-items: center;
    grid-template-rows: 20% 80%;
    grid-template-columns: 100%;
}
.contentWrapper .titulo{
    grid-row: 1/2;
    text-align: center;
    color: rgb(187, 185, 185);
}
.contentWrapper .titulo::before,.contentWrapper .titulo::after{
    background-color: #db6c3c;
    display: inline-block;
    content: '';
    position: relative;
    width: 20px;
    height: 5px;
    animation: animacionxd 1s infinite alternate backwards;
    
}
.contentWrapper .titulo::before{
    top: 1.2em;
    left:0;

}
.contentWrapper .titulo::after{
    top: -1.2em;
    right:0;
}
@keyframes animacionxd {

    100% {
        width: 30px;
        box-shadow: 0 0 25px #db6c3c;       
    }

  }
  .content, .aboutCards{
    row-gap: 10px;
    column-gap: 10px;
    width: 65%;
    justify-content: center;
    height: 100%;
    
  }
.content{
    grid-template-columns:repeat(5, 20%);
    grid-template-rows: repeat(2,50%);
    display: grid;
    grid-row: 2/3;
    align-content: center;
  
    height: 95%;
    width: 60%;
}
.aboutCards{
   display: grid;
    grid-template-rows:  80% 20%;
    grid-template-columns: repeat(5,20%);

    /*display: flex;*/

}
