
.sectionWrapper {
	grid-auto-rows: max-content;
	min-height: 100vh;
	background-color: var(--main-bg-color);
	width: 100%;
	display: flex;
    height: max-content;
}
.contentWrapper {
		display: flex;
		width: 100%;
		flex-direction: column;
		height: 100%;
		align-items: center;
		margin: 40px 0;
		row-gap: 8vh;
	.titulo {
		line-height : 100%;
		text-align: center;
		color: rgb(187, 185, 185);
		position: relative;
		&::before,&::after{
			content: '';
			display: inline-block;
			background-color: #db6c3c;
			animation: animacion 1s infinite alternate backwards;
			position: absolute;
			height: 10%;
			width: 25px;
			
		}
		&::before {
	
			
			left: -5%;
			top: -0.8em;

		}
		&::after {
			
			bottom: -0.8em;
			right: -5%;
		}
	}
}
@keyframes animacion {
	to {
		width: 50px;
		box-shadow: 0 0 25px #db6c3c;
	}
}
/* TRES OPCIONES DE SECTION */
.content {
	row-gap: 10px;
	column-gap: 10px;
	justify-content: center;
	height: 100%;
	height: auto;
	display: flex;
	grid-row: 2/3;
	align-content: center;
	width: 70%;
	flex-wrap: wrap;
}
.aboutCards {
    width: 70%;
    justify-content: center;
	row-gap: 1vh;
    display: grid;
	grid-template-columns: 100%;
    grid-template-rows: repeat(2,auto);
}
.projectCards{
    grid-row-gap: 10px;
    row-gap: 10px;
    grid-column-gap: 10px;
    row-gap: 5vh;
    width: 70%;
    justify-content: center;
	max-height: 80%;
    height: auto;
    display: flex;
	flex-direction: column;
}
@media screen and(max-width:1200px) {

.projectCards,.aboutCards,.content{
	width: 85%;
}
}

@media screen and(max-width:768px){
	

	.projectCards{
		width: 90%;
	}
	.aboutCards{
		align-content: center;
		
		-webkit-user-select: none;
		width: 90%;
		display: flex;
		flex-direction: row;
		flex: 1 1 auto;
		flex-wrap: wrap;
		height: auto;
	}
	.contentWrapper{

	
		.titulo{
			display: inline;
		&::before,&::after{
			height: 5px;
		}
		&::before {
	
			
			left: -5%;
			top: -0.8em;

		}
		&::after {
			
			bottom: -0.8em;
			right: -5%;
		}
	}
	}

}
