.habilidad{
    backdrop-filter: blur(14px);
    background-color: var(--thrd-bg-color);
    height: 250px;
    color: rgb(187, 185, 185);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
    column-gap: 40px;
    transition: 0.3s all;    
}

.habilidad:hover{
    height: 255px;
    background-color: rgba(255, 255, 255, 0.12);    
}

.habilidad h3{font-weight: 300;}
